@import url("https://fonts.googleapis.com/css?family=Rubik:400,600,700|Poppins:400,600,700");


html {
    overflow-x: hidden !important;
    width: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height:100vh;
}

body {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    position: relative;
    height:100vh;
    position:relative;
}

.banner {
    background: linear-gradient(315deg, #009ffd 0%, #2a2a72 74%);
    padding: 2rem 0;
    box-shadow: 0 8px 6px -6px black;
    font-weight: 700;
}

.display-5 {
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
}

.main-content {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 0.8rem;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    margin: 0.5rem;
}


.card-content {
    padding: 2rem;
    padding-top: 1rem;
}

form {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

.footer {
    position: absolute;
    width:100%;
    background-color: #009ffd;
    background-image: linear-gradient(315deg, #009ffd 0%, #2a2a72 74%);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8); 
}

@media only screen and (min-width: 992px) {
    .footer{
        bottom: 0;
    }
}


.btn-blue {
    background-image: linear-gradient(315deg, #009ffd 0%, #2a2a72 74%);
    color: #fff;
    border-color: #2a2a72;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;    
    font-weight: 600;
    transition: 0.4s;
}

.btn-blue:hover {
    background-color: #fff;
    background-image: none;
    color: #2a2a72;
    transition: 0.4s;
    transform: scale(1.01);
}

.btn-blue-l {
    background-color: #fff;
    background-image: none;
    color: #2a2a72;
}

.btn-blue-l:hover {
    background-image: linear-gradient(315deg, #009ffd 0%, #2a2a72 74%);
    color: #fff;
}

.btn-login {
    background-color: #1C51A0;
    color: #fff;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: 0.2s;
}

.btn-login:hover {
    background-color: #1565B8;
    color: #fff;
    transition: 0.2s;
}

a{
    color: #1565B8;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:600;
}

.card-bt {
    margin-bottom: -1rem;
    line-height: 1.4rem;
}



